{
  "plugins": ["stylelint-order"],
  "rules": {
    "order/properties-alphabetical-order": "error",
    "block-no-empty": true,
    "declaration-block-no-duplicate-properties": true,
    "no-duplicate-selectors": true,
    "declaration-no-important": true,
    "length-zero-no-unit": true,
    "selector-type-case": "lower",
    "value-keyword-case": "lower",
    "color-hex-length": "long",
    "color-named": "never",
    "color-no-invalid-hex": true,
    "unit-no-unknown": true,
    "rule-empty-line-before": [
      "always",
      {
        "except": ["after-single-line-comment"],
        "ignore": ["first-nested", "after-comment"]
      }
    ]
  }
}