* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: var(--theme-colors-shade);
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    overflow-x: hidden;
}

html {
    height: 100%;
}
